@rendermode InteractiveServer

@using BlazorStrap
@using BlazorStrap.V5
@using HopFrame.Security.Claims
@using HopFrame.Web.Admin.Providers
@using HopFrame.Web.Services
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@using HopFrame.Web.Components.Administration
@using HopFrame.Web.Components


<BSNavbar Color="BSColor.Dark" IsDark="true" IsFixedTop="true">
    <BSContainer Container="Container.Fluid">
        <BSNavbarBrand>
            HopFrame
        </BSNavbarBrand>
        <BSCollapse IsInNavbar="true">
            <Toggler>
                <BSNavbarToggle/>
            </Toggler>
            <Content>
                <BSNav MarginEnd="Margins.Auto" Class="mb-lg-0">
                    <BSNavItem IsActive="IsDashboardActive()" OnClick="NavigateToDashboard">Dashboard</BSNavItem>
                    
                    @foreach (var adminPage in Pages.LoadRegisteredAdminPages()) {
                        <AuthorizedView Permission="@adminPage.Permissions.View">
                            <BSNavItem IsActive="IsNavItemActive(adminPage.Url)" OnClick="() => Navigate(adminPage.Url)">@adminPage.Title</BSNavItem>
                        </AuthorizedView>
                    }
                </BSNav>
                
                <span style="margin-left: auto; line-height: 100%; color: white">
                    logged in as @Context?.User.Username
                </span>
                <BSButton DataId="logout" Size="Size.ExtraSmall" OnClick="Logout" Color="BSColor.Dark">
                    <HopIconDisplay Type="HopIconDisplay.HopIcon.Logout"/>
                </BSButton>
                <BSTooltip Placement="Placement.Bottom" Target="logout" ContentAlwaysRendered="false">logout</BSTooltip>
            </Content>
        </BSCollapse>
    </BSContainer>
</BSNavbar>


@inject NavigationManager Navigator
@inject ITokenContext Context
@inject IAuthService Auth
@inject IAdminPagesProvider Pages

@code {
    private bool IsNavItemActive(string element) {
        return Navigator.Uri.TrimEnd('/').EndsWith(element);
    }

    private bool IsDashboardActive() {
        return Navigator.Uri.TrimEnd('/').EndsWith("administration");
    }

    private void NavigateToDashboard() {
        Navigator.NavigateTo("administration", true);
    }

    private void Navigate(string url) {
        Navigator.NavigateTo("administration/" + url, true);
    }

    private void Logout() {
        Navigator.NavigateTo("administration/login", true);
    }
}
