.hopframe-header {
    background-color: var(--neutral-layer-4) !important;
    border-bottom: calc(var(--stroke-width) * 2px) solid var(--accent-fill-rest) !important;
    color: var(--neutral-foreground-rest) !important;
}

.hopframe-content {
    align-self: stretch !important;
    width: 100%;
}

.hopframe-main {
    min-height: calc(100dvh - 86px);
    color: var(--neutral-foreground-rest);
    align-items: stretch !important;
    column-gap: 0 !important;
}

.hopframe-toolbar {
    width: 100%;
    padding: 0.5rem 1.5rem;
}

.hopframe-content .empty-content-row.empty-content-cell {
    border: none !important;
}

fluent-option {
    background: transparent !important;
}
