@page "/administration"
@rendermode InteractiveServer

@using static Microsoft.AspNetCore.Components.Web.RenderMode
@using BlazorStrap
@using HopFrame.Web.Pages.Administration.Layout
@using BlazorStrap.V5
@using HopFrame.Web.Admin.Providers
@using HopFrame.Web.Components
@using Microsoft.AspNetCore.Components.Web
@layout AdminLayout

<PageTitle>Admin Dashboard</PageTitle>

<BSContainer>
    <BSRow Justify="Justify.Center">
        @foreach (var adminPage in Pages.LoadRegisteredAdminPages()) {
            <AuthorizedView Permission="@adminPage.Permissions.View">
                <BSCol Column="4" style="margin-bottom: 10px">
                    <BSCard CardType="CardType.Card" Color="BSColor.Dark" style="min-height: 200px">
                        <BSCard CardType="CardType.Body" style="display: flex; flex-direction: column">
                            <BSCard CardType="CardType.Title">@adminPage.Title</BSCard>
                            <BSCard CardType="CardType.Subtitle"><span style="color: gray">@adminPage.Permissions.View</span></BSCard>
                            <BSCard CardType="CardType.Text">@adminPage.Description</BSCard>
                            <BSButton IsOutlined="true" MarginTop="Margins.Auto" style="width: max-content; align-self: center" OnClick="() => NavigateTo(adminPage.Url)" Color="BSColor.Light">Open</BSButton>
                        </BSCard>
                    </BSCard>
                </BSCol>
            </AuthorizedView>
        }
    </BSRow>
</BSContainer>

@inject NavigationManager Navigator
@inject IAdminPagesProvider Pages

@code {

    public void NavigateTo(string url) {
        Navigator.NavigateTo("administration/" + url, true);
    }

}
